@font-face {
    font-family: Japanese3017;
    src: url('Japanese\ 3017.ttf');
}

@font-face {
    font-family: madeInChina;
    src: url('MADEC___.TTF');
}

@font-face {
    font-family: osaka;
    src: url('osaka-re.ttf');
}

body {
    margin: 0px;
}

#heroes {
    font-family: osaka;
    margin-top: 0px;
    font-size: 52px;
    position: relative;
    bottom: 33px;
    background: rgb(121,121,121);
    background: linear-gradient(180deg, rgba(121,121,121,1) 0%, rgba(255,255,255,1) 50%, rgba(32,32,32,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
}

.menu {
    float: left;
}