body {
    font-family: 'Roboto', sans-serif;    
}

button {
    outline: none;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;  
    border: none;  
    border-radius: 10px;
}

th {
    padding: 0px;
    margin: 0px;
}